fastapi
uvicorn
pydantic
sqlalchemy
alembic
python-dotenv
PyJWT
python-multipart
PyMySQL
faiss-cpu
langchain
langchain-text-splitters
langchain-community
langchain-huggingface
sentence-transformers
pypdf
groq
openai
ddgs
resend